* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

@keyframes shift-animation {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    text-align: center;
    background: rgba(0,0,0,.05);
    animation-name: shift-animation;
    animation-duration: 1s;
}


main {
    background-color: white;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 50%);
    padding: 2em;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 2em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 5em;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1em;
    background: linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: shift-animation;
    animation-duration: 2s;
}

h2 {
    font-size: 3.5em;
}


p {
    font-family:'Open Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    padding: 2em 0;
    animation-name: shift-animation;
    animation-duration: 3s;
}

q {
    font-style: italic;
}

q ~ p {
    padding-top: 0;
}

figure {
    padding: 2em;
    background-color: white;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 50%);
    margin-bottom: 2em;
}

figure > div {
    margin: auto;
    max-width: 400px;
}

img {
    border-radius: 50%;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 50%);
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 100%;
    display: block;
}

figcaption p {
    font-size: 1.5em;
}

ul {
    width: 50%;
    text-align: left;
    margin: auto;
    list-style: none;
}

ul p {
    padding-bottom: 0;
}

.quote {
    background-color: white;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 50%);
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    position: relative;
}

.quote__author {
    text-align: right;
    margin-right: 2em;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    bottom: 0;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 500px) {
    main {
        left: 0;
        top: 0;
        right: 0;
    }

    ul {
        width: 80%;
    }

    .quote {
        flex-direction: column;
        position: unset;
        height: auto;
    }

    .quote__author {
        position: unset;
    }
}
