body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(0,0,0,.05);
}

main {
    width: 90vw;
    background-color: white;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 50%);
    margin: 2em auto;
    padding: 2em;
}

h1 {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 4em;
}

p {
    font-family:'Open Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    padding: 2em 0;
}

img {
    border-radius: 50%;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 50%);
    width: 50vw;
    height: 50vw;
    object-fit: cover;
}